<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is login page</title>
</head>
<body>
    <h1>Welcome to login page</h1>
    <form method="post" action="/home">
        <input placeholder="enter username" name="username"/><br><br>
        <input placeholder="enter password" name="password"/><br><br>
        <button>LOGIN</button>
        <br>
        <br>
        <a href="http://localhost:3000/registration">click here for registration</a>
    </form>

</body>
</html>