<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration done</title>
</head>
<body>
    <h1>registration completed successfully</h1>
    <br>
    <br>
    <a href="http://localhost:3000/login">Go On Login Page</a>
</body>
</html>