<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration page</title>
</head>
<body>
    <h1>Welcome to registration page</h1>
    <form method="post" action="/regdone">
        <input placeholder="set your username" name="username"/><br><br>
        <input placeholder="set password" name="password"/><br><br>
        <button>REGISTER</button>
        <br>
        <br>
    </form>
</body>
</html>